<p id="notice"><%= notice %></p>

<p>
  <b>Car:</b>
  <%= @repair.car_id %>
</p>

<p>
  <b>Date:</b>
  <%= @repair.date %>
</p>

<p>
  <b>Cost:</b>
  <%= @repair.cost %>
</p>

<p>
  <b>Shop:</b>
  <%= @repair.shop %>
</p>

<p>
  <b>Work done:</b>
  <%= @repair.work_done %>
</p>

<p>
  <b>Mileage:</b>
  <%= @repair.mileage %>
</p>


